#welcome {
    margin: 20px 50px;
}

#tagline h1 {
    text-align: center;
    background-color: rgba(192, 205, 219, 0.39);
    margin-top: 20px;
}

#welcome img {
    height: 90%;
    width: 90%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
