#tagline h1 {
    text-align: center;
    background-color: rgba(192, 205, 219, 0.39);
    margin: 20px 0 0 0;
    font-size: 30px;

}

.welcomeImg {
    float: right;
    margin-top: 0;
    display: block;
    height: 100%;
    width: 100%;

}

.post {
    margin-bottom: 3em;
}

#welcome {
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 20px ;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;

}

