#tagline h1 {
    text-align: center;
    background-color: rgba(192, 205, 219, 0.39);
    margin: 20px 0 0 0;
    font-size: 30px;

}

.row {
    margin-top: 7%;
    background-color: rgba(167, 156, 145, 0.33);
    padding: 10px;
    margin-top: 20px;
    overflow: hidden;
    margin-right: 15px;
    margin-left: 15px;
}

.welcomeImg {
    margin-top: 0;
    display: block;
    height: 100%;
    width: 100%;
    float:right;

}

.post {
    margin-bottom: 3em;
}

#welcome {
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
}

.picHolder {
    float: right;
    padding-right: 0;
    padding-left: 0;
}

