@import url(http://fonts.googleapis.com/css?family=Didact+Gothic|Handlee);

body {
    color: #193A41;
    font-family: 'Didact Gothic', 'Helvetica Neue', sans-serif;
    background-image: url(../img/foggy_birds_@2X.png);
}

.container-fluid {
    padding: 0;
    margin: 0;
}

main {
    margin: 0;
}

h1 {
    color: #457D8D;

    padding: 10px 20px;
}

h2 {
    color: #5d5c4d
}

p {
    color: #4a5880;
    font-size: 20px;
}



header {
    margin: 0;
    position: relative;
    height: 150px;
    background-image: url(../img/headerbground2.jpg);
    background-position: 0%, 50%;
    background-size: cover;

}

header h1 {
    font-family: 'Handlee', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    padding-top: 10px;
    padding-left: 10px;
    line-height: .5em;
    background-color: transparent;
}



nav {
    background-color: rgba(63, 32, 117, 0.55);
    position: absolute;
    bottom: 5px;
    font-size: 125%;
}

nav li {
    padding-left: 10px;
    list-style-type: none;
    display: inline-block;
    margin-right: 1.5em;
}

span.tab {
    padding-left: 50px;
}


#credits dt{
    font-size: 20px;
}

#credits dd {
    font-size: 13px;
}

