@import url(http://fonts.googleapis.com/css?family=Domine|Varela+Round);

body {
    font-family: 'Varela Round','Helvetica Neue', Helvetica, sans-serif;
    padding: 50px 0 0 0;
    color: white;
    margin-bottom: 60px;

    background-image: url('../img/headerbground2.jpg');
    margin: 0;
    background-size: cover;
    min-height: 90vh;
    background-attachment: fixed;

}

html {
    position: relative;
    min-height: 100%;
}

section {
    padding: 60px 0;
}

iframe {
    padding: 15px 0;
}

.first a {
    color: #21d6ff;
    font-weight: bold;
}

.first {
    min-height: 85vh;
    background-color: rgba(100, 100, 100, 0.70);
}

#opening-section {
    padding-top: 10%;
}

.even, .odd {
    border-top: dotted;
    border-top-width: 3px;
    border-top-color: white;
    background-color: rgba(77, 126, 192, 0.70);
}

.even a, .odd a {
    color: darkgray;
}

.odd {
    background-color: rgba(95, 168, 192, 0.70);
}

.row {
    margin: 0;
}

.tabbed {
    margin-left: 40px;
}

h1, h2, h3, h4, p {
    margin: 0 10px;
    padding: 10px 0;
}

.main-content {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Domine', Georgia, serif;
    text-align: left;
    margin-top: 10px;
    padding: 5px 0;
    border-bottom-style: solid;
    margin-bottom: 20px;
}

h3 {
    padding-bottom: 0;
}

p {
    font-size: 1.2em;
}

/*Format the title of a page and the description text below it*/
.title {
    font-size: 1.5em;
}

ul li {
    font-size: 1.3em;
}

p .small {
    font-size: 1em;
}

/*Format how images display*/
img {
    height: 40vh;
    max-width: 100%;
    display: block;
    margin: 10px auto;
    border-style: solid;
    border-width: 3px;
    border-color: #222222;
}

#map {
    height: 250px;
}

#map img {
    max-width: none;
}
/*code for sticky footer*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222222;
    color: #7A7A7A;
}

.vid-title {
    margin: 0;
    font-size: 1.5em;
}

.embed-responsive-4by3 {
    height: 30%;
}

/*First-glance only*/

.videos {
    margin-left: 10%;
    margin-right: 10%;
}


@media (min-width: 770px) {
    h1, h2, h3, h4, p {
        margin: 0 30px;
        padding: 10px 0;
    }

    h1, h2 {
        margin-bottom: 20px;
    }

    img {
        max-width: 60%;
        vertical-align: middle;
    }


}

@media (min-width: 1015px) {
    .videos {
        margin-left: 5%;
        margin-right: 0;
    }
}