@import url(http://fonts.googleapis.com/css?family=Didact+Gothic|Handlee);

body {
    color: #193A41;
    font-family: 'Didact Gothic', 'Helvetica Neue', sans-serif;
    background-image: url(../img/foggy_birds_@2X.png);
}

.container-fluid {
    padding: 0;
    margin: 0;
}

main {
    margin: 0;
}

h1 {
    color: #457D8D;
    padding: 10px 20px;
}

h2 {
    color: #5d5c4d
}

p {
    color: #4a5880;
    font-size: 20px;
}

header {
    margin: 0;
    position: relative;
    height: 130px;
    background-image: url(../img/headerbground2.jpg);
    background-position: 0%, 50%;
    background-size: cover;
}

header h1 {
    font-family: 'Handlee', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    color: white;
    text-shadow: 3px 3px gray;
    margin-top: 17px;
    padding-top: 30px;
    padding-left: 10px;
    line-height: .5em;
    background-color: transparent;
}

#welcome {
    margin: 20px 50px;
}

#tagline h1 {
    text-align: center;
    background-color: rgba(192, 205, 219, 0.39);
    margin-top: 20px;
}

#welcome img {
    height: 90%;
    width: 90%;
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: rgba(63, 32, 117, 0.80);
    position: absolute;
    bottom: 10px;
    font-size: 125%;
}

nav li {
    padding-left: 10px;
    list-style-type: none;
    display: inline-block;
    margin-right: 1.5em;
}

span.tab {
    padding-left: 50px;
}

footer {
    margin-top: 20px;
    background-color: gray;
    opacity: 0.9;
    text-align: right;
    padding-right: 15px;
}

#contact {
    font-size: 18px;
    padding-bottom: 0;
}
