@import url(http://fonts.googleapis.com/css?family=Didact+Gothic|Handlee);

body {
    margin: 0;
    padding: 0;
    color: #193A41;
    font-family: 'Didact Gothic', 'Helvetica Neue', sans-serif;
    background: white;
    height: 100%;
}

#tagline {
    display: none;
}

#map {
    height: 400px;
}

.welcomeImg {
    margin-top: 0;
    display: block;
    height: 100%;
    width: 100%;
    float:right;

}

main {
    margin: 0;
    background-image: url(../img/foggy_birds_@2X.png);
    padding-left: 0;
    padding-right: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

h1 {
    font-size: 3em;
    color: #457D8D;
    padding: 10px 20px;
}

h2 {
    color: #5d5c4d
}

h3 {
    color: #52555e;
}

.section-head {
    text-align: center;
    font-size: 35px;
}

.tabbed {
    padding-left: 40px;
}

.two-tab {
    padding-left: 80px;
}

.picHolder {
    float:right;
    padding-right: 0;
    padding-left: 0;
}

.welcomeImg {
    float: right;
    margin-top: 0;
    display: block;
    height: 100%;
    width: 100%;

}

p, li, dt, dd {
    color: #4a5880;
    font-size: 18px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 40px;
}

body a {
    text-decoration: none;
}

header a:link {
    color: white;
}

header a:visited {
    color:white;
}
a:hover {
    text-decoration: none;
    color: #8a8a8a;
}

iframe {
    width: 100%;
}


header {
    margin: 0;
    height: 130px;
    background-image: url(../img/headerbground2.jpg);
    background-position: 0%, 50%;
    background-size: cover;
}

header h1 {
    font-family: 'Handlee', 'Helvetica Neue', sans-serif;
    font-size: 37px;
    color: white;
    text-shadow: 3px 3px gray;
    margin-top: 17px;
    padding-top: 30px;
    padding-left: 10px;
    line-height: .5em;
    background-color: transparent;
}

nav {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2%;
    background-color: rgba(35, 83, 91, 0.77);
    position: absolute;
    font-size: 10pt;
}

nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    padding: 5px 20px;
    list-style-type: none;
    display: inline-block;
}


nav li:hover {
    background-color: rgb(36, 85, 93);
}

#side-menu {
    display: none;
    float: left;
    clear: both;
}

#side-menu {
    padding-left: 0;
    list-style-type: none;
    font-size: .9em;
    font-weight: bold;
    margin-top: 20px;
}

#side-menu li {
    background-color: rgba(116, 168, 218, 0.25);
    margin-bottom: 5px;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #4a5880;
}

span.tab {
    padding-left: 40px;
}

footer.row {
    margin-top: 20px;
    background-color: #2a6c74;
    opacity: 0.9;
    text-align: right;
    padding-right: 15px;
    color: white;
    margin-left: 0;
    margin-right: 0;

}

footer a {
    color: #ababab;
}

#contact {
    font-size: 18px;
    padding-bottom: 0;
}

.row {
    margin-top: 7%;
    background-color: rgba(167, 156, 145, 0.33);
    padding: 10px 25px;
    margin-top: 20px;
    overflow: hidden;
    margin-right: 15px;
    margin-left: 15px;
}

.vidHolder {
    padding-right: 0;
    padding-left: 0;
}


/*when screen becomes mobile size, change padding*/
@media (min-width: 992px) {
    body {
        background: white;
        font-size: 18px;
    }

    /*main.container-fluid {*/
        /*padding: 0;*/
    /*}*/

    #tagline {
        display: inline;
    }

    #side-menu {
        display: block;
    }

    header {
        position: relative;
    }

    .vidHolder {
        float:right;
    }

}

/* When screen becomes very large, fix the size of the body */
@media (min-width: 1200px) {
    main {
        width: 948px;
    }
    body {
        margin: auto;
    }
}

/*When screen gets bigger, make font size larger */
@media (min-width: 700px) {
    header h1 {
        font-size: 70px;
    }

    nav {
        font-size: 125%;
    }
}




